*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
target-eclipse
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
.idea
*.iml
grails-app/assets/bower_components
*.log
*.db